* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: sans-serif;
  margin: 48px 0 0 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #ffff00, #ffea00, #f9da3f);
}

h2 {
  color: black;
  text-align: center;
  letter-spacing: 2px;
  font-size: 48px;
}

.btn-purple {
  background-color: #530CFF;
}

.btn-purple:hover {
  background-color: #530CFF;
}